h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Contribuyente', 'main.html#page/contribuyente/')
                    +navTemaItem('2', 'Régimen tributario', 'main.html#page/regimen-tributario/')
                    +navTemaItem('3', 'Impuesto de renta', 'main.html#page/impuesto-de-renta/')
                    +navTemaItem('4', 'IVA', 'main.html#page/iva/')
                    +navTemaItem('5', 'Retención en la fuente', 'main.html#page/retencion-en-la-fuente/')
                    +navTemaItem('6', 'Impuesto de industria y comercio', 'main.html#page/impuesto-de-industria-y-comercio/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')