include ../mixins/functions

+pageHeader('Obligaciones tributarias', 'assets/images/header/header_media.svg')

.container#tramites
    img.img-a.my-5(src="assets/images/pages/img1.svg").img-fluid

    .header-ecored
        h1.text-title 1. Contribuyente
    .card.py-3

        .card-body

            p Un contribuyente en un país como Colombia, es una persona o empresa que tiene el deber de pagar impuestos para aportar al gasto público, es decir, a todas las inversiones realizadas en diversas actividades y productos que beneficien a la población general.
            br
            p El contribuyente tributario es definido como aquella persona que tienen obligaciones y derechos, frente a un ente púbico y dichas obligaciones se derivan de los tributos. El contribuyente es la persona que, gracias a su patrimonio, se encuentra obligada a soportar el pago de los tributos, como son las tasas, los impuestos y todas aquellas contribuciones especiales que financian al Estado (Cortes, 2018).
    #clasificacion
    .header-ecored
        h1.text-title 1.1 Clasificación 

    .card.py-3

        .card-body 
            p Los contribuyentes se clasifican en: 

            .row.justify-content-center.align-items-center
                .col-12.col-md-5
                    img.img-a.my-5(src="assets/images/pages/img2.svg").img-fluid
                .col-12.col-md-5
                    img.img-a.my-5(src="assets/images/pages/img3.svg").img-fluid

            p Para complementar este contenido, en la guía de aprendizaje correspondiente a esta actividad de aprendizaje se solicitará al aprendiz la definición de cada uno de ellos y la relación de impuestos que son obligación de cada una de ellos. 

    #obligaciones
    .header-ecored 
        h1.text-title 1.2 Obligaciones de los contribuyentes 
    .card.py-3

        .card-body

            p Cuando una persona decide formalizar una empresa, también es consiente que tiene unas obligaciones tributarias frente al estado, a través de la auditoría del Ministerio de hacienda pública como responsable del control y administración de los recursos.
            br
            p El Artículo 1 del Estatuto Tributario señala que: “la obligación tributaria sustancial se origina a realizarse el presupuesto o los presupuestos previstos en la ley como generadores del impuesto y ella tiene por objeto el pago del tributo”. 

        .row.mx-0
            img.img-a.my-5(src="assets/images/pages/img4.svg", style="width: 100%").img-fluid 

        #accordionExample.accordion.mt-5
            .card
                #headingOne.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                            h2.text-title.mb-0 Declarar 
                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                    .card-body
                        p Los diferentes impuestos anuales: el impuesto sobre la renta anual de ingresos y patrimonio, ventas, retención en la fuente y timbre.
                        br
                        p Declarar renta: documento donde se consignan los ingresos, los egresos e inversiones, se debe presentar ante la Dirección Nacional de Impuestos y Aduanas Nacionales (DIAN). 
                        br
                        p Declaración anual de ingresos y patrimonio: es la información que presentan las personas jurídicas cuando no declaran renta a través de ingresos y patrimonio, con algunas excepciones.
                        br
                        p Retención en la fuente: no es un impuesto, sino un mecanismo de recaudo anticipado del impuesto sobre la renta, además de los complementarios como son: impuesto a las ventas, de timbre nacional y el de industria y comercio.
                        br
            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')

                            h2.text-title.mb-0 Informar su dirección y actividad económica.
                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                    .card-body
                        p El Estatuto Tributario en su artículo 612 consagra esta obligación de informar la dirección, así como cualquier cambio que se presente en la misma. El cumplimiento de esta permite a la DIAN ejercer su función fiscalizadora y al sujeto pasivo de las obligaciones tributarias enterarse de las actuaciones que le profieran y ejercer el derecho a la defensa.
            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')

                            h2.text-title.mb-0  Inscripción en el RUT.
                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                    .card-body
                        p El Registro Único Tributario (RUT) es administrado por la Dirección de Impuestos y Aduanas Nacionales. Permite la clasificación de las personas y empresas en declarantes y no declarantes de ingresos y patrimonio, los responsables del régimen común y los pertenecientes al régimen simplificado; los agentes retenedores; los importadores, exportadores y demás usuarios aduaneros, y los demás sujetos de obligaciones administradas por la Dirección de Impuestos y Aduanas Nacionales.
            .card
                #headingfour.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapsefour', aria-expanded='false', aria-controls='collapsefour')

                            h2.text-title.mb-0  Informar el cese de actividades.

                #collapsefour.collapse(aria-labelledby='headingfour', data-parent='#accordionExample')
                    .card-body
                        p El Artículo 614 del procedimiento tributario reza lo siguiente: “Los responsables del impuesto sobre las ventas que cesen definitivamente en el desarrollo de actividades sujetas a dicho impuesto, deberán informar tal hecho, dentro de los treinta (30) días siguientes al mismo. El responsable que no informe el cese de actividades, estará obligado a presentar la declaración del impuesto sobre las ventas”. 
            .card
                #headingFive.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')

                            h2.text-title.mb-0  Facturar.
                #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample')
                    .card-body
                        p Consiste en elaborar una factura como evidencia que registra la información del proceso de venta de un producto o la prestación de servicios. Indica la prueba fehaciente de la operación entre las dos partes: vendedor y comprador.
            .card
                #headingSix.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')

                            h2.text-title.mb-0  Exigir la factura o documento equivalente.
                #collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordionExample')
                    .card-body
                        p Se debe exigir factura, o si no se tiene por la actividad comercial ejecutada, se debe solicitar un documento equivalente en su reemplazo que permita obtener evidencia de la operación entre el vendedor y el comprador, este aspecto se presenta en aquellas personas que no están obligadas a facturar.
            .card            
                #headingSeven.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')

                            h2.text-title.mb-0  Conservar informaciones y pruebas.

                #collapseSeven.collapse(aria-labelledby='headingSeven', data-parent='#accordionExample')
                    .card-body
                        p Conservar por un período mínimo de cinco años, “contados a partir del 1o. de enero del año siguiente al de su elaboración, expedición o recibo, los documentos, informaciones y pruebas, que deberán ponerse a disposición de la Administración de Impuestos, cuando esta así lo requiera”.
            .card
                #headingEight.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseEight', aria-expanded='false', aria-controls='collapseEight')

                            h2.text-title.mb-0  Certificar.
                #collapseEight.collapse(aria-labelledby='headingEight', data-parent='#accordionExample')
                    .card-body
                        p Para quienes apliquen retención de renta, IVA o timbre, deben expedir un certificado que genere constancia de lo retenido, para el asalariado no declarante el certificado de ingresos y retenciones.

            .card
                #headingNine.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseNine', aria-expanded='false', aria-controls='collapseNine')

                            h2.text-title.mb-0  Llevar el libro fiscal
                #collapseNine.collapse(aria-labelledby='headingNine', data-parent='#accordionExample')
                    .card-body
                        p Los comerciantes del régimen simplificado deben llevar el libro fiscal de registro de operaciones diarias por cada establecimiento o sede, de tal manera que se identifique el contribuyente, foliado con la descripción de las operaciones.
            .card
                #headingTen.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTen', aria-expanded='false', aria-controls='collapseTen')

                            h2.text-title.mb-0  Llevar la contabilidad.
                #collapseTen.collapse(aria-labelledby='headingTen', data-parent='#accordionExample')
                    .card-body
                        p Esta obligación se configura como una prueba tributaria para la DIAN y para el contribuyente. Debe llevarse conforme con las prescripciones legales y sancionables determinados por la normativa vigente.

            .card
                #headingEleven.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseEleven', aria-expanded='false', aria-controls='collapseEleven')

                            h2.text-title.mb-0  Pagar atender requerimientos.

                #collapseEleven.collapse(aria-labelledby='headingEleven', data-parent='#accordionExample')
                    .card-body
                        p El artículo 686 del Estatuto Tributario señala que los contribuyentes de los impuestos, así como los no contribuyentes, deberán atender los requerimientos de informaciones y pruebas relacionadas con investigaciones que realice la DIAN, cuando a juicio de esta, sean necesarios para verificar la situación impositiva de unos y otros, o de terceros relacionados con ellos. 


            .card
                #headingTwelve.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwelve', aria-expanded='false', aria-controls='collapseTwelve')
                            h2.text-title.mb-0  Pagar.

                #collapseTwelve.collapse(aria-labelledby='headingTwelve', data-parent='#accordionExample')
                    .card-body
                        p Todos los contribuyentes o responsables de los impuestos administrados por la DIAN, deben pagar los impuestos, anticipos y retenciones que corresponda en los plazos señalados. 
                        br
                        p En caso de no hacerlo en los términos previstos, se hacen acreedores al cobro de los intereses de mora, por cada mes o fracción de mes calendario de retardo en el pago.

        .row
            img.img-a.my-5(src="assets/images/pages/img5.svg").img-fluid                   


