include ../mixins/functions

+pageHeader('Obligaciones tributarias', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1.text-title 3. Impuesto de renta

    p.mb-5 El impuesto de renta se tiene que presentar cada año y afecta directamente los ingresos de las personas o de las empresas. 

    .row.mx-0.mt-5.row-line.p-5

        p Tributo que comprende el impuesto de renta y el de ganancias ocasionales. Es un tributo nacional directo, de período y obligatorio para el comerciante persona natural, o persona jurídica o asimilada, y consiste en entregarle al Estado un porcentaje de sus utilidades fiscales obtenidas durante un período gravable, con el fin de coadyuvar a sufragar las cargas públicas (Bogotá Emprende, 2007).

    #natural
.container
    .header-ecored
        h1.mt-5.text-title 3.1 Pasos para efectuar la declaración de renta 

    p.mb-5 Se recomienda para el procedimiento de declaración de renta, la asesoría de un contador público o directamente en la DIAN. Pero antes, Broseta (2019) sugiere:

    .row.card-row.justify-content-md-center

        .col-auto.z-index

            img(src="assets/images/pages/img8.svg").img-position

        .col-8.text-position

            p.mb-0 Comprobar si la persona natural está sujeta o no de elaborar la declaración de renta.

    br

    .row.card-row.justify-content-md-center

        .col-auto.z-index

            img(src="assets/images/pages/img9.svg").img-position

        .col-8.text-position

            p.mb-0 Inscribirse o actualizar el RUT (Registro Único Tributario).


    br

    .row.card-row.justify-content-md-center

        .col-auto.z-index

            img(src="assets/images/pages/img10.svg").img-position

        .col-8.text-position

            p.mb-0 Identificar el tipo de ingreso de acuerdo con el número de la cédula.


    br
    .row.card-row.justify-content-md-center

        .col-auto.z-index

            img(src="assets/images/pages/img11.svg").img-position

        .col-8.text-position


            p.mb-0 Revisar el formulario para la declaración de renta.

    p.my-5 También señala Broseta (2019) los formularios empleados para presentar la declaración de renta:

    .row-12.row-line.p-5        
        strong Formulario 210: 

        | Declaración de renta y complementarios personas naturales y asimiladas no obligadas a llevar contabilidad.
        br
        br
        strong Formulario 110: 

        | Declaración de renta y complementarios o de ingresos y patrimonio para personas jurídicas (sean nacionales o extranjeras) y para personas naturales y/o sucesiones ilíquidas no residentes.
