include ../mixins/functions

+pageHeader('Obligaciones Tributarias', 'assets/images/header/header_media.svg')

.container

    .row-12

        h1(style="color:#5F3BBF") 3. Impuesto de Renta

        .brand-line-primary
    
        p.mb-5 El impuesto de renta se tiene que presentar cada año y afecta directamente los ingresos de las personas o de las empresas. 

    .row-12(style="background: #FFFFFF; border-bottom: solid 2px #5F3BBF").p-5

        p Tributo que comprende el impuesto de renta y el de ganancias ocasionales. Es un tributo nacional directo, de período y obligatorio para el comerciante persona natural, o persona jurídica o asimilada, y consiste en entregarle al Estado un porcentaje de sus utilidades fiscales obtenidas durante un período gravable, con el fin de coadyuvar a sufragar las cargas públicas (Bogotá Emprende, 2007).

    #natural
.container
    h1.mt-5(style="color:#5F3BBF") 3.1 Pasos para efectuar la declaración de renta 

    .brand-line-primary

    p.mb-5 Se recomienda para el procedimiento de declaración de renta, la asesoría de un contador público o directamente en la DIAN. Pero antes, Broseta (2019) sugiere:

    .row-12(style="display: flex; align-items: center").justify-content-md-center

        .col-auto(style="z-index: 2")

            img(src="assets/images/pages/img8.svg", style="width: 100%; position: initial; margin-left: 50%")

        .col-8(style="background-color: #FFF; padding: 15px 15px 15px 100px; border-radius: 10px; z-index: 1")

            p Comprobar si la persona natural está sujeta o no de elaborar la declaración de renta.

    br

    .row-12(style="display: flex; align-items: center").justify-content-md-center

        .col-auto(style="z-index: 2")

            img(src="assets/images/pages/img9.svg", style="width: 100%; position: initial; margin-left: 50%")

        .col-8(style="background-color: #FFF; padding: 15px 15px 15px 100px; border-radius: 10px; z-index: 1")

            p Inscribirse o actualizar el RUT (Registro Único Tributario).


    br

    .row-12(style="display: flex; align-items: center").justify-content-md-center

        .col-auto(style="z-index: 2")

            img(src="assets/images/pages/img10.svg", style="width: 100%; position: initial; margin-left: 50%")

        .col-8(style="background-color: #FFF; padding: 15px 15px 15px 100px; border-radius: 10px; z-index: 1")

            p Identificar el tipo de ingreso de acuerdo con el número de la cédula.


    br
    .row-12(style="display: flex; align-items: center").justify-content-md-center

        .col-auto(style="z-index: 2")

            img(src="assets/images/pages/img11.svg", style="width: 100%; position: initial; margin-left: 50%")

        .col-8(style="background-color: #FFF; padding: 15px 15px 15px 100px; border-radius: 10px; z-index: 1")


            p Revisar el formulario para la declaración de renta.

    p.my-5 También señala Broseta (2019) los formularios empleados para presentar la declaración de renta:

    .row-12(style="background: #FFFFFF; border-bottom: solid 2px #5F3BBF").p-5

        
        strong Formulario 210: 

        | Declaración de renta y complementarios personas naturales y asimiladas no obligadas a llevar contabilidad.
        
        strong.mt-5 Formulario 110: 

        | Declaración de renta y complementarios o de ingresos y patrimonio para personas jurídicas (sean nacionales o extranjeras) y para personas naturales y/o sucesiones ilíquidas no residentes.
