include ../mixins/functions

+pageHeader('Obligaciones Tributarias', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1.text-title 4. IVA
    .card.py-3

        .card-body

            p El IVA es un impuesto indirecto, se aplica a los costos de producción y ventas y es devengado del precio que paga el consumidor final. Es aplicable a productos de bienes y a servicios. Según Leal (2018):
            br
            p En Colombia, el IVA es del 19 %, pero en algunos casos puede ser del 14%, el 5%, o incluso hay productos exentos de este impuesto. No obstante, en general se debe saber que el IVA se aplica en todos los momentos del ciclo económico, tales como la producción, distribución, comercialización e importación.
.container
        .row.mx-0
            img.img-a.my-5(src="assets/images/pages/img12.svg", style="width: 100%").img-fluid  

        .row.mt-5.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/img13.svg").img-fluid
            .col-9
                p.mb-0 La venta de bienes físicos muebles que no hayan sido excluidos explícitamente del impuesto en el estatuto tributario.    

        .row.mt-5.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/img14.svg").img-fluid
            .col-9
                p.mb-0 El cobro de honorarios por prestación de servicios.

        .row.mt-5.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/img15.svg").img-fluid
            .col-9
                p.mb-0 La importación de bienes físicos muebles que no hayan sido excluidos explícitamente del impuesto en el estatuto tributario.

        .row.mt-5.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/img16.svg").img-fluid
            .col-9
                p.mb-0 La venta, operación o circulación de juegos de suerte y azar, con excepción de las loterías.     

.container
    .row.mx-0.mt-5.row-line.p-5
        p Esta recaudación llega a los ingresos corrientes del Estado, dinero que en gran parte es invertido en proyectos de bienestar social, infraestructura, salud, educación, alimentación, servicios públicos, vivienda y, en general, en satisfacer las necesidades primarias de la población.
        br
        p Es importante antes de legalizar una empresa conocer si los productos o servicios a ofrecer están gravados, excluidos o exentos de IVA.
#clasificacionsociedades
.container
    .header-ecored
        h1.mt-5.text-title 4.1 Sanciones por evasión del pago del IVA 
    .card.py-3

        .card-body

            p La evasión de impuestos debido a la compra de mercancía de contrabando o sin control aduanero se considera un delito que puede ser castigado hasta con cárcel. Como asegura Leal (2018):

    .row.mx-0.mt-5.row-line.p-5

        p Los consumidores deben ser conscientes de que deben exigir la factura con cada transacción y percatarse de que la contribución está siendo realizada correctamente, ya que los encargados de los establecimientos que no cobran el IVA estando obligados a hacerlo, incurren en una pena de 40 a 108 meses de prisión y deben pagar una multa equivalente al doble del dinero no consignado, según el artículo 402 del código penal, modificado por el artículo 339 de la Ley 1819 de 2016.

    img.img-a.mt-5(src="assets/images/pages/img22.svg").img-fluid  

    .row.mx-0.mt-5.row-line.p-5

        p La ley colombiana contempla que si el responsable se retracta y paga, no tendrá que enfrentar un proceso penal o, de haber sido iniciado, este se puede detener sin ningún tipo de perjuicio. 

    #calculo
    .header-ecored
        h1.mt-5.text-title 4.2 Cálculo del IVA 
    .card.py-3

        .card-body

            p El IVA es un impuesto que grava el consumo, en cada compra el consumidor paga el precio del bien o servicio más el porcentaje de impuestos que es aplicado a su costo de producción. Señala Leal (2018):   
            br
            p  Con la reforma tributaria o Ley 1819 de 2016, se estipuló que desde el 1 de enero de 2017 el IVA en Colombia cambiaría del 16% al 19%, modificación que fue objeto de controversias y numerosos debates, tanto académicos y políticos como informales. Donde algunos consideraban que el aumento era exagerado y otros, necesario. Pero, ¿cómo se calcula el IVA en los productos que compramos habitualmente?  

            img.img-a.mt-5(src="assets/images/pages/img17.svg").img-fluid   

            p.mt-5 El IVA se computa dividiendo el valor de un bien o servicio entre 1,19, cuyo resultado corresponde al valor de este producto o servicio sin IVA. Para entenderlo mejor podemos revisar el siguiente ejemplo:

            .row.mt-5.justify-content-center.align-items-center
                .col-12.col-md-6
                    img.img-a.mt-5(src="assets/images/pages/img18.svg").img-fluid
                .col-12.col-md-6
                    img.img-a.mt-5(src="assets/images/pages/img19.svg").img-fluid

            .row.mt-5.justify-content-center.align-items-center
                .col-12.col-md-6
                    img.img-a.mt-5(src="assets/images/pages/img20.svg").img-fluid
                .col-12.col-md-6
                    img.img-a.mt-5(src="assets/images/pages/img21.svg").img-fluid 

    .row.mx-0.mt-5.row-line.p-5

        p El cálculo del IVA se debe tener en cuenta para la fijación de precio a los diversos productos que son ofrecidos por la empresa de acuerdo a su actividad comercial.

    #bienes
    .header-ecored
        h1.mt-5.text-title 4.3 Bienes gravados, exentos y excluidos de IVA
    .card.py-3

        .card-body

            p Los productos o servicios a ofrecer por las empresas están gravados, excluidos o exentos de IVA. Valentinast (2019) define cada una de estas categorías: 

.container
    .card
        .card-body

            p Se debe garantizar una comunicación correcta que permita transmitir la información de la infección por COVID-19 sin generar pánico, pero tampoco infunda más tranquilidad de la necesaria. La Organización Panamericana de la Salud en atención a esta necesidad establece estos principios fundamentales (OPS, 2020c):


            nav.nav-tab-ecored.my-5
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                        strong Un bien gravado
                    a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                        strong Un bien exento
                    a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                        strong Un bien excluido
                    
                #nav-tabContent.tab-content
                    #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                        p  Es aquel que se encuentra afecto con una tarifa del IVA, por lo que está presente al momento de declarar impuestos, el IVA de los bienes gravados se presenta con una tarifa general del 19%; sin embargo, están las tarifas diferenciales y especiales aplicadas en bienes y servicios destinados a la labor social, o con recursos de producción elevados.


                    #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                        p  Es un bien gravado, cuya tarifa del IVA es del 0%. En base a esto se entiende que un bien exento no genera IVA al momento de la venta, sin embargo, afecta en la producción, pues, aunque la tarifa de IVA sea del 0%, se debe presentar en la declaración de impuestos a responsabilidad de los productores.
                        br
                        p Declarado junto con los descuentos de IVA generado en la adquisición de la materia prima para producir dichos bienes y servicios, el resultado será un saldo a favor que el productor podrá solicitar como devolución a la DIAN.

                    #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                        p  No es gravable, pues no causa impuesto sobre la venta, por lo que no existe un responsable por el IVA, por lo que son bienes que no requieren presentar declaración de impuestos.
                        br
                        p Debido a esto, el IVA que el productor pudo haber pagado para adquirir la materia prima del bien excluido no aplica para hacer descuento en la declaración de impuestos, debiendo sumarse ese valor en el precio total del bien. Los bienes excluidos están determinados por la ley y debe recurrirse a ella para informarse acerca de los mismos.  
.container
    .row.mx-0.mt-5.row-line.p-5

        p Es importante consultar cuales son los productos que están gravados, exentos o excluidos de IVA para establecer las políticas de precios en la empresa a constituir y legalizar.