include ../mixins/functions

+pageHeader('Obligaciones Tributarias', 'assets/images/header/header_media.svg')

.container


    h1.text-title 5. Retención en la fuente

    .brand-line-primary

    .card.py-3

        .card-body

            p La retención en la fuente es un mecanismo de recaudo anticipado de un impuesto, el estado a través de este recaudo asegura un ciclo constante.
            br
            p Mecanismo por medio del cual la Nación y los municipios como sujetos activos aseguran parte de la obligación tributaria del contribuyente de manera anticipada. Es recaudado por los delegados del Estado llamados Agentes Retenedores, los cuales son los representantes y responsables ante el fisco por la determinación y consignación de los valores recaudados (Ministerio de Educación Nacional, s.f.).

.container
    .row.mx-0.mt-5.row-line.p-5

        p Todo agente de retención debe aplicar la retención en la fuente de acuerdo con los pagos realizados, considerando para ello las bases mínimas sujetas a retención, tarifas aplicables y los porcentajes que debe retener.

    #fuente
    h1.mt-5.text-title 5.1 Cómo opera la retención en la fuente


    .brand-line-primary

    .card.py-3

        .card-body

            p La reforma tributaria de Colombia plantea bajar la tarifa en el cobro de la retención en la fuente, para así lograr mayor cobertura en la recaudación de esta obligación tributaria.

.container
        .row.mx-0
            img.img-a.my-5(src="assets/images/pages/img23.svg", style="width: 100%").img-fluid  

        .row.mt-5.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/img24.svg").img-fluid
            .col-9
                p.mb-0 Debe existir una transacción económica entre dos personas diferentes.   

        .row.mt-5.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/img25.svg").img-fluid
            .col-9
                p.mb-0 El retenido debe ser contribuyente del impuesto de renta. 

        .row.mt-5.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/img26.svg").img-fluid
            .col-9
                p.mb-0 El retenido debe ser el que vende o presta el servicio, es decir quien recibe el ingreso.

        .row.mt-5.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/img27.svg").img-fluid
            .col-9
                p.mb-0 El agente retenedor es el que paga, es decir quien compra.  

        .row.mt-5.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/img28.svg").img-fluid
            .col-9
                p.mb-0 Sobre el concepto de la transacción económica, la ley expresamente califica la obligatoriedad de efectuar la retención.

.container
    .row.mx-0.mt-5.row-line.p-5

        p De esta manera la retención en la fuente es un mecanismo adoptado por el estado colombiano para cobrar por adelantado impuestos que son facturados anualmente.

    #elementos
    h1.mt-5.text-title 5.2 Elementos de la retención en la fuente


    .brand-line-primary

    .card.py-3

        .card-body

            p En el procedimiento de la retención en la fuente se presentan elementos que interactúan en el desarrollo, estos son, continuando con el Ministerio de Educación Nacional, (s.f.): 


            nav.nav-tab-ecored.my-5
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                        strong Sujeto pasivo
                    a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                        strong Agente retenedor
                    a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                        strong Abono en cuenta 
                    a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                        strong Base de retención
                    a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                        strong Tarifa                         

                    
                #nav-tabContent.tab-content
                    #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                        p Es la persona o entidad beneficiaria del pago o abono en cuenta, afectada con la retención.  

                    #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                        p Es la persona o entidad obligada a efectuar la retención en el momento del pago o abono en cuenta. 

                    #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')

                        p Determina el momento en que se entiende causada la retención conforme a los criterios legales. 
                                
                    #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')

                        p Es el valor del pago o abono en cuenta sobre el cual se debe aplicar la tarifa para obtener la suma a retener. 

                    #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')

                        p Es el factor aritmético que aplicado a la base determina el monto o valor a retener.  

.container
    .row.mx-0.mt-5.row-line.p-5

        p Con la interacción de estos elementos se logra que el recaudo de recursos sea más eficiente y cumpla con los objetivos propuestos por la DIAN.                          