.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                th.text-center Enlace del Recurso o Archivo del documento o material  

        tbody

            tr
                td 
                    strong Decreto 1468 de 2019
                td PDF
                td 
                    a(href="media/documentos/MC_AA2_Decreto_1468_de_2019.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong Tributacion de pequeños contribuyentes y regimenes simplificados Colombia 
                td PDF
                td 
                    a(href="media/documentos/MC_AA2_Tributacion_de_pequenos_contribuyentes_y_regimenes_simplificados_Colombia.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                    

