.container

  ol

    li
      p 
        | Anselmo1. (Sin fecha). 
        i Cuáles son los impuestos en Colombia. 
        | Recuperado de 
        a(href="https://destinonegocio.com/emprendimiento/cuales-son-los-impuestos-en-colombia/", target="_blank") https://destinonegocio.com/emprendimiento/cuales-son-los-impuestos-en-colombia/
        
    li
      p 
        | Bogotá Emprende. (2007). 
        i Impuesto de renta. 
        | Recuperado de 
        a(href="https://bibliotecadigital.ccb.org.co/bitstream/handle/11520/11777/100000217.pdf?sequence=1", target="_blank") https://bibliotecadigital.ccb.org.co/bitstream/handle/11520/11777/100000217.pdf?sequence=1
    li
      p 
        | Broseta, A. (2019). 
        i ¿Cómo presentar mi declaración de renta 2019? Formulario 210. 
        | Recuperado de 
        a(href="https://www.rankia.co/blog/dian/3097523-como-presentar-declaracion-renta-2019-formulario-210", target="_blank") https://www.rankia.co/blog/dian/3097523-como-presentar-declaracion-renta-2019-formulario-210

    li
      p 
        | Cortes, L. (2018). 
        i ¿Qué tipo de contribuyente eres? 
        | Recuperado de 
        a(href="https://www.siigo.com/glosario-financiero/tipos-de-contribuyentes/", target="_blank") https://www.siigo.com/glosario-financiero/tipos-de-contribuyentes/
    li
      p 
        | Delgado, J. (Sin fecha) 
        i ¿Qué es y para qué sirve la declaración de renta? 
        |  Recuperado de 
        a(href="https://www.usergioarboleda.edu.co/noticias/sirve-la-declaracion-renta/", target="_blank") https://www.usergioarboleda.edu.co/noticias/sirve-la-declaracion-renta/

    li
      p 
        | Estatuto Tributario. [ET] Decreto 624 de 1989. Marzo 30 de 1989. 
        | Recuperado de 
        a(href="http://www.mincit.gov.co/ministerio/normograma-sig/procesos-misionales/facilitacion-del-comercio-y-defensa-comercial/decretos/1967-1990/decreto-624-de-1989-2.aspx ", target="_blank") http://www.mincit.gov.co/ministerio/normograma-sig/procesos-misionales/facilitacion-del-comercio-y-defensa-comercial/decretos/1967-1990/decreto-624-de-1989-2.aspx 

    li
      p 
        | Facultad de Economía UNAM. (Sin fecha). 
        i Marco conceptual. 
        | Recuperado de 
        a(href="http://www.economia.unam.mx/secss/docs/tesisfe/BonillaLI/cap1.pdf", target="_blank") http://www.economia.unam.mx/secss/docs/tesisfe/BonillaLI/cap1.pdf

    li
      p 
        | Finanzas Personales. (2014) 
        i ¿Qué es y cómo opera la retención en la fuente? 
        | Recuperado de 
        a(href="https://www.finanzaspersonales.co/impuestos/articulo/como-pagar-retencion-fuente/53416", target="_blank") https://www.finanzaspersonales.co/impuestos/articulo/como-pagar-retencion-fuente/53416

    li
      p 
        | Leal, A. (2018). 
        i ¿Qué es el IVA o Impuesto al Valor Agregado? 
        | Recuperado de 
        a(href="https://www.siigo.com/blog/empresario/que-es-el-iva/", target="_blank") https://www.siigo.com/blog/empresario/que-es-el-iva/

    li
      p 
        | Ministerio de Educación Nacional. (Sin fecha). Retención en la fuente - impuesto sobre la renta. 
        | Recuperado de 
        a(href="https://www.mineducacion.gov.co/1621/articles-304903_archivo_pdf_retencionenlafuente.pdf ", target="_blank") https://www.mineducacion.gov.co/1621/articles-304903_archivo_pdf_retencionenlafuente.pdf

    li
      p 
        | Montes, M. (2015). 
        i Impuesto de Industria y Comercio. 
        | Recuperado de 
        a(href="https://www.colconectada.com/impuesto-de-industria-y-comercio/", target="_blank") https://www.colconectada.com/impuesto-de-industria-y-comercio/

    li
      p 
        | Polin, O. (2017). 
        i La importancia de pagar impuestos. 
        | Recuperado de 
        a(href="https://www.auren.com/es-MX/blog/auditoria/2017-09-18/la-importancia-de-pagar-impuestos", target="_blank") https://www.auren.com/es-MX/blog/auditoria/2017-09-18/la-importancia-de-pagar-impuestos

    li
      p 
        | Saavedra, O. (2017). 
        i Tipos de empresas en Colombia. 
        | Recuperado de 
        a(href="https://escuela-emprendedores.alegra.com/administracion-finanzas/tipos-de-empresas-en-colombia/", target="_blank") https://escuela-emprendedores.alegra.com/administracion-finanzas/tipos-de-empresas-en-colombia/

    li
      p 
        | Valentinast. (2019). 
        i ¿Qué es un bien gravado, exento y excluido? 
        | Recuperado de 
        a(href="https://www.rankia.co/blog/dian/4184444-que-gravado-exento-excluido ", target="_blank") https://www.rankia.co/blog/dian/4184444-que-gravado-exento-excluido 